#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.label-mensure{
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: -1em;
  background: #991b1b;
  padding: 0px 2px;
  border: none;
  color: white;
  font-size: 14px;
}

.label-vfr-route {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: -1em;
  background: transparent;
  padding: 0px 2px;
  border: none;
  color: #f59e0b;
  font-size: 14px;
  box-shadow: none;
}

.label-mensure::after, 
.label-mensure::before,
.label-vfr-route:after,
.label-vfr-route:before{
  display: none;
}

.leaflet-control-zoom{
  display: none;
}